<div class="appfont">
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<div class="seldiv">Page Size : <select class="sel" (change)="changedata($event)">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="0">All</option>
  </select>
</div>
  <br/>
  <div class="wrapper">
    <div class="container" id="constrainer2">
      <!-- populate table with different data set -->
<table class="tableFixHead">
  <thead>
    <tr>     
      <th>action</th>      
      <th *ngFor="let head of items[0] | keys">{{head}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">     
      <td><button class="button" (click)="submitIdAndStatus(item.id, item.status)">Submit</button></td>      
      <td *ngFor="let list of item | keys">{{item[list]}}</td>
    </tr>
  </tbody>
  <!-- pagination when not all data selected -->
  <tfoot>
      <tr><td *ngIf="paginate" [attr.colspan]="colsnumber"><div><app-pagination
        (goPage)="goToPage($event)"
        (goNext)="onNext()"
        (goPrev)="onPrev()"
        [pagesToShow]="5"
        [page]="page"
        [perPage]="limit"
        [count]="total"
        [min]="getMin()"
        [max]="getMax()"></app-pagination></div>
    </td></tr>
  </tfoot>
</table>
</div>
  </div>
</div>
<router-outlet></router-outlet>
